.Records-container {
  margin-top: 40px;
}

.Records-list {
  margin: 0;
  padding: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.Records-list-item {
  list-style-type: none;
  padding: 15px 20px;
  font-size: 14px;
  border-top: 1px dashed #777;
  cursor: pointer;
}

.Records-list-item:last-child {
  border-bottom: 1px dashed #777;
}

.Records-list-item-line1 {
  display: flex;
  justify-content: space-between;
}

.Records-list-item-date {

}

.Records-list-item-arrow {
  margin: 0 10px;
  font-size: 16px;
  display: inline-block;
  transform: translateY(1px);
}

.Records-list-item-line2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.Records-list-item-description {

}

.Records-list-item-amount {
  margin-left: 20px;
}
