.RecordForm-lender-and-borrower-container {
  text-align: center;
}

.RecordForm-lender-container {
  display: inline-block;
}

.RecordForm-arrow {
  display: inline-block;
  vertical-align: top;
  font-size: 36px;
  padding: 24px 30px;
}

.RecordForm-borrower-container {
  display: inline-block;
}

.RecordForm-lender-button {
  width: 150px;
  margin-top: 1px;
}

.RecordForm-lender-button:focus {
  box-shadow: 0 0 0 1px black;
}

/* This brings button's box-shadow on top of the adjacent button. */
.RecordForm-lender-button:hover {
  position: relative;
  z-index: 1;
}

.RecordForm-lender-selected {
  background-color: #b6fab6;
  cursor: default;
}

.RecordForm-lender-selected:hover {
  box-shadow: 0 0 0 1px black;
}

.RecordForm-borrower-button {
  width: 150px;
  margin-top: 1px;
}

.RecordForm-borrower-button:focus {
  box-shadow: 0 0 0 1px black;
}

/* This brings button's box-shadow on top of the adjacent button. */
.RecordForm-borrower-button:hover {
  position: relative;
  z-index: 1;
}

.RecordForm-borrower-selected {
  background-color: #ffbaba;
  cursor: default;
}

.RecordForm-lender-borrower:hover {
  box-shadow: 0 0 0 1px black;
}

.RecordForm-text-fields-container {
  margin-top: 40px;
}

.RecordForm-label {
  width: 150px;
  font-size: 18px;
}

.RecordForm-input {
  width: 260px;
}
