.RecordForm-container {
  margin-top: 30px;
}

.RecordForm-lender-and-borrower-container {
  text-align: center;
}

.RecordForm-lender-container {
  display: inline-block;
}

.RecordForm-arrow {
  display: inline-block;
  vertical-align: top;
  font-size: 36px;
  padding: 24px 30px;
}

.RecordForm-borrower-container {
  display: inline-block;
}

.RecordForm-lender-button {
  width: 150px;
  margin-top: 1px;
}

.RecordForm-lender-button:focus {
  box-shadow: 0 0 0 1px black;
}

.RecordForm-lender-selected {
  background-color: #b6fab6;
}

.RecordForm-borrower-button {
  width: 150px;
  margin-top: 1px;
}

.RecordForm-borrower-button:focus {
  box-shadow: 0 0 0 1px black;
}

.RecordForm-borrower-selected {
  background-color: #ffbaba;
}

.RecordForm-text-fields-container {
  margin-top: 40px;
}

.RecordForm-label {
  width: 150px;
}

.RecordForm-input {
  width: 260px;
}

.RecordForm-footer {
  margin: 30px 0 0 160px;
  height: 22px;
  font-size: 14px;
}

.RecordForm-sorry {
  margin-left: 30px;
  font-size: 14px;
}
