.Balance-container {
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #ddd;
}

.Balance-gear-icon {
  position: relative;
  top: 1px;
}

.Balance-toggle-logout-button {
  position: absolute;
  right: 2px;
  top: 2px;
  opacity: 1;
  box-shadow: none;
}

.Balance-toggle-logout-button-collapsed {
  opacity: 0.2;
}
