.App-container {
  margin: 0 auto 50px;
  width: 450px;
  font-family: monospace;
  font-size: 18px;
}

.App-loading {
  margin-top: 20px;
  text-align: center;
}

button {
  font-family: monospace;
  background: none;
  border: 0;
  box-shadow: 0 0 0 1px black;
  cursor: pointer;
}

button:focus, button:hover {
  outline: 0;
  box-shadow: 0 0 0 2px black;
}

button:disabled {
  opacity: 0.3;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  cursor: default;
}

button.big-button {
  font-size: 18px;
  padding: 6px 15px;
}

button.small-button {
  font-size: 14px;
  padding: 3px 8px;
}

button.borderless-button,
button.borderless-button:focus {
  box-shadow: none;
}

input {
  font-family: monospace;
  font-size: 18px;
  height: 27px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
}

input:focus {
  outline: 0;
  border-bottom: 2px solid black;
}

.invalid-input,
.invalid-input:focus {
  border-bottom: 2px solid red;
}

label {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

.field-container {
  height: 30px;
  margin-top: 10px;
}

.error-message {
  color: red;
}
