.EditRecord-container {
  margin: 30px 0;
}

.EditRecord-footer {
  margin: 30px 22px 0 160px;
  font-size: 14px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.EditRecord-error {
  margin: 0 20px;
}

@media (max-width: 420px) {
  .EditRecord-footer {
    margin: 20px 22px 0 20px;
    height: auto;
  }
}
